@using Microsoft.AspNet.Identity
@model MySmartApp.Models.HomeModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -My Smart Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/uikit.min.js"></script>

</head>
<body class="uk-background-center">
    <header>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="@Url.Action("Index", "Home")"><img src="~/Content/Login/images/smart-logo2.jpg" width="80px" height="80px"></a>

                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                            Features
                        </a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active">@Html.ActionLink("Create New Room", "Create", "Rooms")</li>
                                <li>@Html.ActionLink("Create New Schedule", "Create", "Schedules")</li>
                                <li>@Html.ActionLink("Create New Device", "Create", "Devices")</li>
                            </ul>
                        </div>
                    </li>
                    @foreach (var item in Model.Rooms)
                    {
                    <li>
                        <a href="@Url.Action("Details", "Rooms", new { id = item.Id }, null)">
                            <span class="uk-icon uk-margin-small-right"></span>
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </li>
                    }
                </ul>
            </div>
            <div class="uk-navbar-right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="uk-navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="uk-container">


        



        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
