@using Microsoft.AspNet.Identity
@model MySmartApp.Models.HomeModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -My Smart Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/uikit.min.js"></script>

</head>
<body>
    <header>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="@Url.Action("Index", "Home")"><img src="~/Content/Login/images/smart-logo2.jpg" width="80px" height="80px"></a>

                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#" style="font-size: 20px;">
                            <span class="uk-icon uk-margin-right" uk-icon="icon: star"></span>
                            Features
                        </a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active">
                                    <a href="#modal-sections-room" uk-toggle>Create New Room</a>
                                @*@Html.ActionLink("Create New Room", "Create", "Rooms")*@
                                </li>
                                <li>
                                    <a href="#modal-sections-schedule" uk-toggle>Create New Schedule</a>
                                @*@Html.ActionLink("Create New Schedule", "Create", "Schedules")*@
                                </li>
                                <li>
                                    <a href="#modal-sections-device" uk-toggle>Create New Device</a>
                                    @*@Html.ActionLink("Create New Device", "Create", "Devices")*@
                                </li>
                            </ul>
                        </div>
                    </li>
                    @foreach (var item in Model.Rooms)
                    {
                        <li>
                            <a href="@Url.Action("Details", "Rooms", new { id = item.Id }, null)" style="font-size: 20px;">
                                <span class="uk-icon uk-margin-right"></span>
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="uk-navbar-right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="uk-navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style=" font-size: 20px;" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="font-size: 20px;">Log off</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    @*@Html.Partial("_LeftBar")*@
<div class="uk-container uk-container-expand">

    @RenderBody()

    <footer class="uk-section uk-section-small uk-text-center">
        <hr>
        <p class="uk-text-small uk-text-center">© @DateTime.Now.Year IT Academy Team - Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a></p>
    </footer>
</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
