@model MySmartApp.Models.HomeModel

@{
}

<h2>Schedules List</h2>
<table class="table">
    <tr>
        <th>
           DeviceName
        </th>
        <th>
           ScheduleName
        </th>
        <th>
            StartDate
        </th>
        <th>
           EndDate
        </th>
        <th>
            DeviceStatus
        </th>
        <th>
            IsActive
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Schedules) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
