@model MySmartApp.Models.HomeModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        
    </tr>

@foreach (var item in Model.Devices) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DeviceName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DeviceStatus)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", "Devices", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", "Devices",  new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", "Devices",  new { id = item.Id })
    </td>
</tr>
}

</table>
