@model MySmartApp.Models.DevicesViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DevicesViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPinDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
